In [2]:
# import polars as pl
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import quote_plus
import streamlit as st
password = quote_plus('sgwi2341')

conn = st.experimental_connection("ppmpkm", type="sql")
# conn_mpninfo = st.experimental_connection("mpninfo", type="sql")
# mpninfo_con  = create_engine("mysql://oc:{}@10.20.254.228/mpninfo".format(password))
# postgres_con_uri = 'postgresql://admin110:S4nd1321@10.20.254.228/penerimaan'
postgres_con = create_engine('postgresql://postgres:{}@localhost/jaktim'.format(password))
# spt = create_engine('mysql://oc:{}@10.20.254.228/spt'.format(password))
# penerimaan = create_engine('mysql://oc:{}@10.20.254.228/penerimaan'.format(password))
# registrasi = create_engine('mysql://oc:{}@10.20.254.228/registrasi'.format(password))
# registrasi_uri = 'mysql://oc:{}@10.20.254.228/registrasi'.format(password)
# staging = create_engine('mysql://oc:{}@10.20.254.228/staging'.format(password))
# dimensi = create_engine('mysql://oc:{}@10.20.254.228/dimensi'.format(password))

# Tindak Lanjut SP2DK dan Pemeriksaan

### SP2DK dan Pemeriksaan

In [30]:
data = conn_mpninfo.query(""" 
select
m.NPWP15 as NPWP ,m.NAMA_WP, m.KPPADM ,m.JENIS_WP ,m.STATUS_WP,
sd.SP2DK_2022,sd.SP2DK_2021,sd.SP2DK_2020,
 rik.RIK_2022,rik.RIK_2021,rik.RIK_2020
from registrasi.sidjp_masterfile m
left join
	(select NPWP, 
    count(case when year(TGL_SP2DK) =2022 then NO_SP2DK end) as SP2DK_2022,
    count(case when year(TGL_SP2DK) =2021 then NO_SP2DK end) as SP2DK_2021,
    count(case when year(TGL_SP2DK) =2020 then NO_SP2DK end) as SP2DK_2020
	from pengawasan.sp2dk
	where year(TGL_SP2DK) between 2020 and 2022
	group by NPWP)
	as sd
on m.NPWP15 =sd.NPWP
left join
	( select NPWP,
    count(case when year(TGL_NP2)=2022 then NO_NP2 end) as RIK_2022,
    count(case when year(TGL_NP2)=2021 then NO_NP2 end) as RIK_2021,
    count(case when year(TGL_NP2)=2020 then NO_NP2 end) as RIK_2020
		from pemeriksaan.sidjp_riwayat_pemeriksaan
		where year(TGL_NP2) between 2020 and 2022
		group by NPWP
	)as rik
on m.NPWP15 = rik.NPWP
where  m.JENIS_WP !='OP' and m.KPPADM='097' and right(m.NPWP15,3)='000' and m.NPWP15 not like '000000000%%'
"""
)

2023-07-06 10:06:55.749 No runtime found, using MemoryCacheStorageManager

In [31]:
data['TOTAL_TL'] = data['SP2DK_2022']+data['SP2DK_2021']+data['SP2DK_2020']+data['RIK_2022']+data['RIK_2021']+data['RIK_2020']
data =data.sort_values(by='TOTAL_TL', ascending=False)
data.fillna(0, inplace=True)
data= data[data['STATUS_WP']=='Normal']

### Penghasilan dan Pembayaran Pajak Netto

In [32]:
kueri = """
SELECT 
p.NPWP ,
sum(CASE WHEN p.ID_MS_TH_PJK =202100 THEN p.JML_PH_NETO_KOMERSIAL END ) AS "PH2021", 
sum(CASE WHEN p.ID_MS_TH_PJK =202000 THEN p.JML_PH_NETO_KOMERSIAL END ) AS "PH2020",
sum(CASE WHEN p.ID_MS_TH_PJK =201900 THEN p.JML_PH_NETO_KOMERSIAL END ) AS "PH2019"
FROM spt.spt_badan_penghitungan_neto_fiskal p
WHERE p.KPPADM ='097'
GROUP BY p.NPWP 
"""
ph = conn_mpninfo.query(kueri)

2023-07-06 10:06:58.644 No runtime found, using MemoryCacheStorageManager

In [33]:
kueri = """ 
SELECT 
pp.NPWP ,
sum(CASE WHEN pp.TAHUNBAYAR = 2023 THEN pp.NOMINAL END )AS "PJK2023",
sum(CASE WHEN pp.TAHUNBAYAR = 2022 THEN pp.NOMINAL END )AS "PJK2022",
sum(CASE WHEN pp.TAHUNBAYAR = 2021 THEN pp.NOMINAL END )AS "PJK2021"
FROM mpninfo.ppm_pkm pp 
WHERE pp.ADMIN ='097'
GROUP  BY pp.NPWP 
"""
tx = conn_mpninfo.query(kueri)

2023-07-06 10:06:58.751 No runtime found, using MemoryCacheStorageManager

In [34]:
data = data.merge(ph, on='NPWP', how='left')
data = data.merge(tx, on='NPWP', how='left')

In [35]:
data

,NPWP,NAMA_WP,KPPADM,JENIS_WP,STATUS_WP,SP2DK_2022,SP2DK_2021,SP2DK_2020,RIK_2022,RIK_2021,RIK_2020,TOTAL_TL,PH2021,PH2020,PH2019,PJK2023,PJK2022,PJK2021
0,021270871004000,RICKSTAR INDONESIA,097,BADAN,Normal,0.0,17.0,28.0,0.0,1.0,0.0,46.0,NaN,6.804356e+08,8.020226e+08,7.596125e+08,7.182799e+08,3.050183e+08
1,025617549007000,GLOBAL SYSTECH MEDIKA,097,BADAN,Normal,0.0,4.0,0.0,16.0,0.0,26.0,46.0,3.790139e+09,2.299325e+10,1.688015e+10,2.968018e+09,9.259610e+09,8.829085e+09
2,016924722007000,KARYANUSA EKADAYA,097,BADAN,Normal,0.0,0.0,1.0,34.0,9.0,1.0,45.0,2.769232e+11,1.226877e+11,6.469148e+10,-2.327334e+10,-2.382735e+10,-2.113600e+10
3,021452834001000,KALIRANDOE JAYA ABADI,097,BADAN,Normal,1.0,29.0,10.0,0.0,2.0,0.0,42.0,8.180535e+09,1.900884e+10,4.181346e+09,9.794809e+09,1.574330e+10,7.970545e+09
4,746572965004000,CIPTA NISSIN INDUSTRIES,097,BADAN,Normal,1.0,21.0,13.0,0.0,0.0,1.0,36.0,1.585463e+09,-1.142741e+10,-3.910616e+09,1.067043e+10,2.265724e+10,3.695416e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,010029205007000,MEGA DAYA,097,BADAN,Normal,1.0,6.0,7.0,0.0,0.0,0.0,0.0,5.460088e+08,4.059677e+08,4.450256e+08,2.157716e+09,2.140516e+09,8.315907e+08
936,010030690007000,WINTRAD JAYA,097,BADAN,Normal,0.0,12.0,7.0,0.0,0.0,0.0,0.0,5.586404e+09,-1.863589e+11,4.013428e+09,3.672536e+08,1.478279e+09,2.159991e+09
937,013063326008000,BINTUNI UTAMA MURNI WOOD INDUSTRIES,097,BADAN,Normal,0.0,6.0,2.0,0.0,0.0,0.0,0.0,-1.685671e+10,-1.226376e+08,4.506947e+07,2.311329e+09,1.077773e+09,8.334080e+07
938,013905328007000,LOGAM MENARA MURNI,097,BADAN,Normal,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-7.426152e+08,-8.608420e+08,-1.214682e+09,1.874791e+08,2.908958e+08,1.536717e+08
939,013591870007000,TRIGANA AIR SERVICE,097,BADAN,Normal,1.0,19.0,13.0,0.0,0.0,0.0,0.0,8.083239e+10,4.219116e+10,1.536846e+10,3.185628e+10,4.280781e+10,3.391671e+10

In [36]:

data.to_excel(r'D:\HASILKUERI\TL_BADAN_097_.xlsx', index=False)

In [33]:
data.STATUS_WP.value_counts()

STATUS_WP
Normal    1059
Name: count, dtype: int64

# Top 10 Per Seksi Se Kanwil

In [ ]:
filter = '''"DATEBAYAR">='2023-01-01' and"DATEBAYAR"<='2023-06-30'  '''
kueri = f''' 
        WITH df AS (
SELECT
	p."NPWP15",
	p."NAMA_WP" ,
    p."ADMIN",
	p."SEKSI" ,
	sum(CASE WHEN p."TAHUNBAYAR" = EXTRACT (YEAR FROM current_date)  THEN p."NOMINAL" END )AS "NETTO2023",
	sum(CASE WHEN p."TAHUNBAYAR" = EXTRACT (YEAR FROM current_date) AND "KET" IN('MPN', 'SPM') THEN p."NOMINAL" END )AS "BRUTO2023",
	ROW_NUMBER() OVER(PARTITION BY "ADMIN","SEKSI"
ORDER BY
	 sum(CASE WHEN p."TAHUNBAYAR" = EXTRACT (YEAR FROM current_date)  THEN p."NOMINAL" END ) DESC) AS "URUT"
FROM
	ppmpkm p
WHERE
	 "NPWP15" NOT LIKE '000000000%'
	AND {filter} AND "SEKSI" !=''
GROUP BY
	p."NPWP15",
	p."NAMA_WP" ,p."ADMIN",
	p."SEKSI")
SELECT
	*,
	(df."BRUTO2023"/sum(df."BRUTO2023") OVER (PARTITION BY df."ADMIN",df."SEKSI") )*100 AS "KONTRIB_SEKSI",
	(df."BRUTO2023"/sum(df."BRUTO2023") OVER (PARTITION BY df."ADMIN") )*100 AS "KONTRIB_KPP"
FROM
	df
'''
data = conn.query(kueri)
data = data[data['URUT']<=10]
data.to_excel(r'D:\HASILKUERI\top10_perwas.xlsx', index=False)

# Proporsi Per KPP se Kanwil

In [3]:
def proporsi(filter):
    kueri = f""" 
    select 
    p."NPWP",
    p."NAMA_WP" , p."JENIS_WP",
    sum(p."NOMINAL") as "NETTO",
    sum(case when p."KET" !='SPMKP' then p."NOMINAL" end) as "BRUTO"
    from ppmpkm p 
    where {filter} and "NPWP15" NOT LIKE '000000000%'
    group by p."NPWP" ,p."NAMA_WP"  , p."JENIS_WP"
    order by "NETTO" desc
    """
    bruto_raw = conn.query(kueri)
    # bruto_nol = bruto[bruto['NPWP'].str.startswith('00000000')]
    row = bruto_raw.shape[0] + 1
    # # rowplus = row-len(brutomin)

    bruto = bruto_raw.drop(columns="JENIS_WP")
    bruto = bruto.groupby(["NPWP", "NAMA_WP"]).sum().reset_index().sort_values(by='NETTO', ascending=False)
    bruto_a = bruto.nlargest(20, columns="NETTO")
    bruto_ab = pd.DataFrame(
        [["Penerimaan 10 WP Terbesar", bruto.iloc[:10,]["NETTO"].sum(),bruto.iloc[:10,]["BRUTO"].sum()]],
        columns=["NAMA_WP", "NETTO","BRUTO"],
    )
    bruto_b = pd.DataFrame(
        [["Penerimaan 20 WP Terbesar", bruto_a["NETTO"].sum(),bruto_a["BRUTO"].sum()]],
        columns=["NAMA_WP", 'NETTO',"BRUTO"],
    )
    bruto_c = pd.DataFrame(
        [["Penerimaan 21 s.d. 100 WP Terbesar", bruto.iloc[20:100,]["NETTO"].sum(),bruto.iloc[20:100,]["BRUTO"].sum()]],
        columns=["NAMA_WP", "NETTO","BRUTO"],
    )
    bruto_d = pd.DataFrame(
        [["Penerimaan 101 s.d. 500 WP Terbesar", bruto.iloc[100:500,]["NETTO"].sum(),bruto.iloc[100:500,]["BRUTO"].sum()]],
        columns=["NAMA_WP", "NETTO","BRUTO"],
    )
    bruto_e = pd.DataFrame(
        [
            [
                "Penerimaan 501 s.d. {} WP Terbesar".format(row),
                bruto.iloc[500:row,]["NETTO"].sum(),bruto.iloc[500:row,]["BRUTO"].sum()
            ]
        ],
        columns=["NAMA_WP", "NETTO","BRUTO"],
    )
    bruto_g = pd.DataFrame(
        [["Total", bruto["NETTO"].sum(),bruto["BRUTO"].sum()]], columns=["NAMA_WP", "NETTO","BRUTO"]
    )
    bruto_ok = pd.concat(
        [bruto_a,bruto_ab, bruto_b, bruto_c, bruto_d, bruto_e, bruto_g],
        axis=0,
        ignore_index=True,
    )
    bruto_ok["KONTRIBUSI"] = (bruto_ok["BRUTO"] / bruto["BRUTO"].sum()) * 100
    return bruto_ok

In [4]:
adm = ['001','002','003','004','005','007','008','009','097']
writer = pd.ExcelWriter(r'D:\HASIL KUERI\proporsi.xlsx')
for admin in adm:
    filter = f''' "DATEBAYAR">='2023-01-01' and"DATEBAYAR"<='2023-06-30' and "ADMIN"='{admin}' '''
    print(filter)
    df_proporsi = proporsi(filter)
    df_proporsi.to_excel(writer, sheet_name=admin, index=False)
writer.close()

2023-07-23 17:39:20.658 No runtime found, using MemoryCacheStorageManager
2023-07-23 17:39:20.660 No runtime found, using MemoryCacheStorageManager

 "DATEBAYAR">='2023-01-01' and"DATEBAYAR"<='2023-06-30' and "ADMIN"='001'

2023-07-23 17:39:20.999 No runtime found, using MemoryCacheStorageManager

 "DATEBAYAR">='2023-01-01' and"DATEBAYAR"<='2023-06-30' and "ADMIN"='002'

2023-07-23 17:39:21.382 No runtime found, using MemoryCacheStorageManager

 "DATEBAYAR">='2023-01-01' and"DATEBAYAR"<='2023-06-30' and "ADMIN"='003'

2023-07-23 17:39:21.694 No runtime found, using MemoryCacheStorageManager

 "DATEBAYAR">='2023-01-01' and"DATEBAYAR"<='2023-06-30' and "ADMIN"='004'

2023-07-23 17:39:21.983 No runtime found, using MemoryCacheStorageManager

 "DATEBAYAR">='2023-01-01' and"DATEBAYAR"<='2023-06-30' and "ADMIN"='005'

2023-07-23 17:39:22.319 No runtime found, using MemoryCacheStorageManager

 "DATEBAYAR">='2023-01-01' and"DATEBAYAR"<='2023-06-30' and "ADMIN"='007'

2023-07-23 17:39:22.654 No runtime found, using MemoryCacheStorageManager

 "DATEBAYAR">='2023-01-01' and"DATEBAYAR"<='2023-06-30' and "ADMIN"='008'

2023-07-23 17:39:22.952 No runtime found, using MemoryCacheStorageManager

 "DATEBAYAR">='2023-01-01' and"DATEBAYAR"<='2023-06-30' and "ADMIN"='009'

2023-07-23 17:39:23.313 No runtime found, using MemoryCacheStorageManager

 "DATEBAYAR">='2023-01-01' and"DATEBAYAR"<='2023-06-30' and "ADMIN"='097'

# Sektor se Kanwil Per KPP

In [5]:
def sektor2023(filter):
    kueri = f"""
    SELECT 
   p."NM_KATEGORI" , 
   sum(p."NOMINAL")as "NETTO",
   sum(case when p."KET" !='SPMKP' then p."NOMINAL" end) AS "BRUTO"
    FROM 
    ppmpkm p 
    WHERE {filter} and "NPWP15" NOT LIKE '000000000%'
    GROUP BY p."NM_KATEGORI" 
    """
    sektor2023 = conn.query(kueri)
    sektor2023 = sektor2023.sort_values(by='NETTO',ascending=False)
    sektor_notnull = sektor2023[sektor2023['NM_KATEGORI']!=""]
    sektor_null = sektor2023[sektor2023['NM_KATEGORI'] ==""]

    sektor10 = sektor_notnull.nlargest(10, columns='NETTO')
    sektor_notlargest = sektor_notnull[~ sektor_notnull.index.isin(sektor10.index)] #sektor not null yag nga masuk 10 besar
    sektor_notlargest = pd.concat([sektor_notlargest, sektor_null],axis=0, ignore_index=True)#gabung yg tidak 10 besar sama null

    sektor_dominan = pd.DataFrame(
        [["Sektor Dominan", sektor_notnull.iloc[:10,]["NETTO"].sum(),sektor_notnull.iloc[:10,]["BRUTO"].sum()]],
        columns=["NM_KATEGORI", "NETTO","BRUTO"],
    )
    sektor_lain = pd.DataFrame(
        [["Sektor Lainnya", sektor_notlargest["NETTO"].sum(),sektor_notlargest["BRUTO"].sum()]],
        columns=["NM_KATEGORI", "NETTO","BRUTO"],
    )
    sektor_total = pd.DataFrame(
        [["Total", sektor2023["NETTO"].sum(),sektor2023["BRUTO"].sum()]],
        columns=["NM_KATEGORI", "NETTO","BRUTO"],
    )
    sektor_ok = pd.concat([sektor10, sektor_dominan, sektor_lain, sektor_total],axis=0, ignore_index=True)
    return sektor_ok

In [6]:
adm = ['001','002','003','004','005','007','008','009','097']
writer = pd.ExcelWriter(r'D:\HASIL KUERI\sektor.xlsx')
for admin in adm:
    filter = f''' "DATEBAYAR">='2023-01-01' and"DATEBAYAR"<='2023-06-30' and "ADMIN"='{admin}' '''
    df_sektor = sektor2023(filter)
    df_sektor.to_excel(writer, sheet_name=admin, index=False)
writer.close()

2023-07-23 17:40:22.384 No runtime found, using MemoryCacheStorageManager
2023-07-23 17:40:22.657 No runtime found, using MemoryCacheStorageManager
2023-07-23 17:40:22.938 No runtime found, using MemoryCacheStorageManager
2023-07-23 17:40:23.216 No runtime found, using MemoryCacheStorageManager
2023-07-23 17:40:23.486 No runtime found, using MemoryCacheStorageManager
2023-07-23 17:40:23.760 No runtime found, using MemoryCacheStorageManager
2023-07-23 17:40:24.037 No runtime found, using MemoryCacheStorageManager
2023-07-23 17:40:24.305 No runtime found, using MemoryCacheStorageManager
2023-07-23 17:40:24.588 No runtime found, using MemoryCacheStorageManager

In [ ]:
dict_sektor = {
    "PERTANIAN, KEHUTANAN DAN PERIKANAN": "PERTANIAN, KEHUTANAN DAN PERIKANAN",
    "PEJABAT NEGARA, KARYAWAN, PENSIUNAN, TIDAK/BELUM BEKERJA": "PEJABAT NEGARA, KARYAWAN, PENSIUNAN",
    "AKTIVITAS PROFESIONAL, ILMIAH DAN TEKNIS": "AKTIVITAS PROFESIONAL, ILMIAH DAN TEKNIS",
    "AKTIVITAS JASA LAINNYA": "AKTIVITAS JASA LAINNYA",
    "AKTIVITAS BADAN INTERNASIONAL DAN BADAN EKSTRA INTERNASIONAL LAINNYA": "BADAN INTER DAN EXTRA INTERNASIONAL",
    "INFORMASI DAN KOMUNIKASI": "INFORMASI DAN KOMUNIKASI",
    "PENGADAAN LISTRIK, GAS, UAP/AIR PANAS DAN UDARA DINGIN": "PENGADAAN LISTRIK, GAS, UAP/AIR PANAS DAN UDARA DINGIN",
    "ADMINISTRASI PEMERINTAHAN, PERTAHANAN DAN JAMINAN SOSIAL WAJIB": "ADMIN. PEMERINTAHAN & JAMINAN SOSIAL",
    "PERDAGANGAN BESAR DAN ECERAN; REPARASI DAN PERAWATAN MOBIL DAN SEPEDA MOTOR": " PERDAGANGAN BESAR ECERAN & PERAWATAN MOBIL",
    "AKTIVITAS KEUANGAN DAN ASURANSI": "AKTIVITAS KEUANGAN DAN ASURANSI",
    "KONSTRUKSI": "KONSTRUKSI",
    "AKTIVITAS KESEHATAN MANUSIA DAN AKTIVITAS SOSIAL": "KESEHATAN MANUSIA & AKTIVITAS SOSIAL",
    "TREATMENT AIR, TREATMENT AIR LIMBAH, TREATMENT DAN PEMULIHAN MATERIAL SAMPAH, DAN AKTIVITAS REMEDIASI": "TREATMENT AIR,LIMBAH",
    "PENDIDIKAN": "PENDIDIKAN",
    "KESENIAN, HIBURAN DAN REKREASI": "KESENIAN, HIBURAN DAN REKREASI",
    "PENGANGKUTAN DAN PERGUDANGAN": "PENGANGKUTAN DAN PERGUDANGAN",
    "REAL ESTAT": "REAL ESTAT",
    "": "",
    "INDUSTRI PENGOLAHAN": "INDUSTRI PENGOLAHAN",
    "PENYEDIAAN AKOMODASI DAN PENYEDIAAN MAKAN MINUM": "PENYEDIAAN AKOMODASI DAN PENYEDIAAN MAKAN MINUM",
    "PERTAMBANGAN DAN PENGGALIAN": "PERTAMBANGAN DAN PENGGALIAN",
    "AKTIVITAS PENYEWAAN DAN SEWA GUNA USAHA TANPA HAK OPSI, KETENAGAKERJAAN, AGEN PERJALANAN DAN PENUNJANG USAHA LAINNYA": "PENYEWAAN & SGU TANPA HAK OPSI",
    "AKTIVITAS RUMAH TANGGA SEBAGAI PEMBERI KERJA; AKTIVITAS YANG MENGHASILKAN BARANG DAN JASA OLEH RUMAH TANGGA YANG DIGUNAKAN UNTUK MEMENUHI KEBUTUHAN SENDIRI": "RUMAH TANGGA PEMBERI KERJA",
}

In [ ]:
filter = '''"DATEBAYAR">='2023-01-01' and"DATEBAYAR"<='2023-06-30' '''
filter22 = ''' "DATEBAYAR">='2022-01-01' and"DATEBAYAR"<='2022-06-30'  '''

In [ ]:
kueri = f"""
SELECT p."NAMA_WP",
p."NM_KATEGORI" ,p."TAHUNBAYAR",p."BULANBAYAR",p."JENIS_WP",
sum(p."NOMINAL") AS "NETTO",
sum(case when p."KET" in('MPN','SPM') then p."NOMINAL" end) as "BRUTO"
FROM 
ppmpkm p 
WHERE {filter}
GROUP BY p."NAMA_WP",p."NM_KATEGORI" ,p."TAHUNBAYAR",p."BULANBAYAR",p."JENIS_WP"
UNION ALL 
SELECT p."NAMA_WP",
p."NM_KATEGORI" , p."TAHUNBAYAR",p."BULANBAYAR",p."JENIS_WP",
sum(p."NOMINAL") AS "NETTO",
sum(case when p."KET" in('MPN','SPM') then p."NOMINAL" end) as "BRUTO"
FROM 
ppmpkm p 
WHERE {filter22}
GROUP BY p."NAMA_WP",p."NM_KATEGORI" ,p."TAHUNBAYAR",p."BULANBAYAR",p."JENIS_WP"
"""
data = conn.query(kueri)
data["NM_KATEGORI"] = data["NM_KATEGORI"].map(dict_sektor)
data["TAHUNBAYAR"] = data["TAHUNBAYAR"].astype("str")

sektor_yoy = data.pivot_table(
    index=["NM_KATEGORI"], columns="TAHUNBAYAR", values=['NETTO','BRUTO'], aggfunc="sum"
).reset_index()

sektor_yoy = sektor_yoy.sort_values(by=('BRUTO',"2023"), ascending=False)
sektor_yoy["NaikBruto"] = round(sektor_yoy[("BRUTO","2023")] - sektor_yoy[("BRUTO","2022")], 0)
sektor_yoy["NaikNetto"] = round(sektor_yoy[("NETTO","2023")] - sektor_yoy[("NETTO","2022")], 0)
sektor_yoy["TumbuhBruto"] = (sektor_yoy["NaikBruto"] / sektor_yoy[("BRUTO","2022")]) * 100
sektor_yoy.columns = sektor_yoy.columns.map(''.join)

In [ ]:
sektor_mom = data.pivot_table(
            index=["NM_KATEGORI", "BULANBAYAR"],
            columns="TAHUNBAYAR",
            values=['BRUTO','NETTO'],
            aggfunc="sum",
        ).reset_index()

In [ ]:
sektor_mom.columns = sektor_mom.columns.map(''.join)

In [ ]:
def format_angka(value):
    cek = value / 1000
    if (cek > 1000000000) or (cek < -1000000000):  # >1 1T
        nominal = "{:,.2f}T".format(value / 1000000000000)
    elif (cek > 1000000) or (cek < -1000000):  # >1M
        nominal = "{:,.2f}M".format(value / 1000000000)
    elif (cek > 1000) or (cek < -1000):  # > 1Jt
        nominal = "{:,.2f}Jt".format(value / 1000000)
    else:
        nominal = "{:,.0f}".format(value)
    return nominal

sektor_yoy9 = sektor_yoy.nlargest(10, "NETTO2023")
sektor_yoy9 = sektor_yoy9.assign(
    text22=sektor_yoy9["BRUTO2022"].apply(lambda x: format_angka(x)),
    text23=sektor_yoy9["BRUTO2023"].apply(lambda x: format_angka(x)),
    Kontribusi2023=(sektor_yoy9["BRUTO2023"] / sektor_yoy["BRUTO2023"].sum()) * 100,
    Kontribusi2022=(sektor_yoy9["BRUTO2022"] / sektor_yoy["BRUTO2022"].sum()) * 100,
)
sektor_yoy9 = sektor_yoy9.assign(
    kontrib2023=sektor_yoy9["Kontribusi2023"].apply(lambda x: "{:,.1f}%".format(x))
).assign(
    kontrib2022=sektor_yoy9["Kontribusi2022"].apply(lambda x: "{:,.1f}%".format(x))
)

sektor_yoy9.sort_values(by="BRUTO2023", ascending=True, inplace=True)
sektor_yoy9["TumbuhBruto_f"] = sektor_yoy9["TumbuhBruto"].apply(lambda x: "{:,.1f}%".format(x))

# Utang

In [ ]:
utang = conn_mpninfo.query(""" 
SELECT 
u.NPWP ,sm.NAMA_WP ,sm.KPPADM ,u.NAMA_PARTNER AS "PARTNER",  
sum(CASE WHEN u.TH_UTANG_PIUTANG = '2020' THEN u.JML_UTANG_PIUTANG end) AS "2020", 
sum(CASE WHEN u.TH_UTANG_PIUTANG = '2019' THEN u.JML_UTANG_PIUTANG end) AS "2019",
sum(CASE WHEN u.TH_UTANG_PIUTANG = '2018' THEN u.JML_UTANG_PIUTANG end) AS "2018"
FROM spt.spt_badan_utang_piutang u
LEFT JOIN registrasi.sidjp_masterfile sm ON sm.NPWP15 = u.NPWP 
WHERE  u.FG_UTANG_PIUTANG =1
GROUP BY u.NPWP ,u.NAMA_PARTNER 
ORDER BY sum(CASE WHEN u.TH_UTANG_PIUTANG = '2020' THEN u.JML_UTANG_PIUTANG END)DESC 
""")

In [ ]:
utang.to_excel(r'D:\HASILKUERI\utang_badan_2020_2018.xlsx', index=False)

# include Wp

In [ ]:
kueri = f"""
SELECT p."NAMA_WP",
p."NM_KATEGORI" ,p."TAHUNBAYAR",p."BULANBAYAR",p."JENIS_WP",
sum(p."NOMINAL") AS "NETTO",
sum(case when p."KET" in('MPN','SPM') then p."NOMINAL" end) as "BRUTO"
FROM 
ppmpkm p 
WHERE {filter}
GROUP BY p."NAMA_WP",p."NM_KATEGORI" ,p."TAHUNBAYAR",p."BULANBAYAR",p."JENIS_WP"
UNION ALL 
SELECT p."NAMA_WP",
p."NM_KATEGORI" , p."TAHUNBAYAR",p."BULANBAYAR",p."JENIS_WP",
sum(p."NOMINAL") AS "NETTO",
sum(case when p."KET" in('MPN','SPM') then p."NOMINAL" end) as "BRUTO"
FROM 
ppmpkm p 
WHERE {filter22}
GROUP BY p."NAMA_WP",p."NM_KATEGORI" ,p."TAHUNBAYAR",p."BULANBAYAR",p."JENIS_WP"
"""
data = conn.query(kueri)
data["NM_KATEGORI"] = data["NM_KATEGORI"].map(dict_sektor)
data["TAHUNBAYAR"] = data["TAHUNBAYAR"].astype("str")

sektor_yoy = data.pivot_table(
    index=["NM_KATEGORI"], columns="TAHUNBAYAR", values=['NETTO','BRUTO'], aggfunc="sum"
).reset_index()

sektor_yoy = sektor_yoy.sort_values(by=('BRUTO',"2023"), ascending=False)
sektor_yoy["NaikBruto"] = round(sektor_yoy[("BRUTO","2023")] - sektor_yoy[("BRUTO","2022")], 0)
sektor_yoy["NaikNetto"] = round(sektor_yoy[("NETTO","2023")] - sektor_yoy[("NETTO","2022")], 0)
sektor_yoy["TumbuhBruto"] = (sektor_yoy["NaikBruto"] / sektor_yoy[("BRUTO","2022")]) * 100
sektor_yoy.columns = sektor_yoy.columns.map(''.join)

sektor_mom = data.pivot_table(
            index=["NM_KATEGORI", "BULANBAYAR"],
            columns="TAHUNBAYAR",
            values=['BRUTO','NETTO'],
            aggfunc="sum",
        ).reset_index()
sektor_mom.columns = sektor_mom.columns.map(''.join)

# Jenis Pajak

In [ ]:
filter = '''"DATEBAYAR">='2023-01-01' and"DATEBAYAR"<='2023-06-25' '''
filter22 = ''' "DATEBAYAR">='2022-01-01' and"DATEBAYAR"<='2022-06-25'  '''
kueri = f"""
SELECT 
p."NAMA_WP",p."MAP" , p."TAHUNBAYAR",p."JENIS_WP",
sum(p."NOMINAL") AS "NETTO" ,
sum(case when  p."KET" in('MPN','SPM') then p."NOMINAL" end) as "BRUTO"
FROM 
public.ppmpkm p 
WHERE {filter} 
GROUP BY p."NAMA_WP", p."MAP" ,p."TAHUNBAYAR",p."JENIS_WP"
UNION ALL
SELECT 
p."NAMA_WP",p."MAP" , p."TAHUNBAYAR",p."JENIS_WP",
sum(p."NOMINAL") AS "NETTO" ,
sum(case when  p."KET" in('MPN','SPM') then p."NOMINAL" end) as "BRUTO"
FROM 
public.ppmpkm p 
WHERE {filter22} 
GROUP BY p."NAMA_WP",p."MAP" ,p."TAHUNBAYAR" ,p."JENIS_WP"
"""
jenis = conn.query(kueri)
jenis_wp = (
            jenis.groupby(["NAMA_WP", "MAP", "TAHUNBAYAR", "JENIS_WP"])
            .sum()
            .reset_index()
        )
jenis_wp["TAHUNBAYAR"] = jenis_wp["TAHUNBAYAR"].astype("str")
jenis_wp = pd.pivot_table(
    jenis_wp,
    index=["NAMA_WP", "MAP", "JENIS_WP"],
    columns="TAHUNBAYAR",
    values=["NETTO","BRUTO"],
    aggfunc="sum",
).reset_index()
jenis_wp.columns = jenis_wp.columns.map(''.join)

In [ ]:
jenis_wp = (
    jenis_wp.assign(
        TUMBUH=round(
            ((jenis_wp["BRUTO2023"] - jenis_wp["BRUTO2022"]) / jenis_wp["BRUTO2022"] * 100),
            2,
        )
    )
    .assign(
        KONTRIBUSI2023=round(
            (jenis_wp["BRUTO2023"] / jenis_wp["BRUTO2023"].sum() * 100), 2
        )
    )
    .assign(
        KONTRIBUSI2022=round(
            (jenis_wp["BRUTO2022"] / jenis_wp["BRUTO2022"].sum() * 100), 2
        )
    )
    .sort_values(by="BRUTO2023", ascending=False)
)
jenis_wp9 = jenis_wp.nlargest(10, "BRUTO2023")

jenis_wp9 = jenis_wp9.assign(
    text23=jenis_wp9["BRUTO2023"].apply(lambda x: "{:,.1f}M".format(x / 1000000000))
)
jenis_wp9 = jenis_wp9.sort_values(by="BRUTO2023", ascending=True)

# Jenis Pajak tanpa WP

In [ ]:
jenis_nwp = jenis.groupby(["MAP", "TAHUNBAYAR"]).sum().reset_index()
jenis_nwp["TAHUNBAYAR"] = jenis_nwp["TAHUNBAYAR"].astype("str")
jenis_nwp = pd.pivot_table(
    jenis_nwp,
    index=["MAP"],
    columns="TAHUNBAYAR",
    values=["NETTO","BRUTO"],
    aggfunc="sum",
).reset_index()
jenis_nwp.columns = jenis_nwp.columns.map(''.join)
jenis_nwp = (
    jenis_nwp.assign(
        TUMBUH=round(
            ((jenis_nwp["BRUTO2023"] - jenis_nwp["BRUTO2022"]) / jenis_nwp["BRUTO2022"] * 100),
            2,
        )
    )
    .assign(
        KONTRIBUSI2023=round(
            (jenis_nwp["BRUTO2023"] / jenis_nwp["BRUTO2023"].sum() * 100), 2
        )
    )
    .assign(
        KONTRIBUSI2022=round(
            (jenis_nwp["BRUTO2022"] / jenis_nwp["BRUTO2022"].sum() * 100), 2
        )
    )
    .sort_values(by="BRUTO2023", ascending=False)
)
jenis_nwp9 = jenis_nwp.nlargest(10, "BRUTO2023")

jenis_nwp9 = jenis_nwp9.assign(
    text23=jenis_nwp9["BRUTO2023"].apply(lambda x: "{:,.1f}M".format(x / 1000000000))
)
jenis_nwp9 = jenis_nwp9.sort_values(by="BRUTO2023", ascending=True)

In [ ]:
jenis_wp.loc[:,"BRUTO2022":"NETTO2023"] = jenis_wp.loc[:,"BRUTO2022":"NETTO2023"].applymap(lambda x:round(x,0))

In [ ]:
adm = ['001','002','003','004','005','007','008','009','097']
for admin in adm:
    print(f"kpp:'{admin}'")

In [ ]:
proporsi.to_excel(r'D:\HASILKUERI\proporsi_002_bn.xlsx')
# raw.to_excel(r'D:\HASILKUERI\raw_008_bn.xlsx')

In [ ]:

kueri = f"""
SELECT 
p."NM_KATEGORI" ,p."TAHUNBAYAR",p."BULANBAYAR", sum(p."NOMINAL") AS "NOMINAL"
FROM 
ppmpkm p 
WHERE p."KET" in('MPN','SPM') and {filter}
GROUP BY p."NM_KATEGORI" ,p."TAHUNBAYAR",p."BULANBAYAR"
UNION ALL 
SELECT 
p."NM_KATEGORI" , p."TAHUNBAYAR",p."BULANBAYAR", sum(p."NOMINAL") AS "NOMINAL"
FROM 
ppmpkm p 
WHERE p."KET" in('MPN','SPM') and {filter22}
GROUP BY p."NM_KATEGORI" ,p."TAHUNBAYAR",p."BULANBAYAR"
"""
data = pd.read_sql(kueri,con=postgres_con)
# if data["NOMINAL"].sum() > 0:
data["NM_KATEGORI"] = data["NM_KATEGORI"].map(dict_sektor)
data["TAHUNBAYAR"] = data["TAHUNBAYAR"].astype("str")

# sektor_yoy = data.pivot_table(
#     index=["NM_KATEGORI"], columns="TAHUNBAYAR", values="NOMINAL"
# ).reset_index()

# sektor_yoy = sektor_yoy.sort_values(by="2023", ascending=False)
# sektor_yoy["selisih"] = round(sektor_yoy["2023"] - sektor_yoy["2022"], 0)
# sektor_yoy["tumbuh"] = (sektor_yoy["selisih"] / sektor_yoy["2022"]) * 100

In [ ]:
sektor_yoy = data.pivot_table(
    index=["NM_KATEGORI"], columns="TAHUNBAYAR", values="NOMINAL",aggfunc='sum'
).reset_index()

In [ ]:
sektor_yoy = sektor_yoy.sort_values(by="2023", ascending=False)
sektor_yoy["selisih"] = round(sektor_yoy["2023"] - sektor_yoy["2022"], 0)
sektor_yoy["tumbuh"] = (sektor_yoy["selisih"] / sektor_yoy["2022"]) * 100
sektor_yoy = sektor_yoy.assign(
    kontribusi_2023=round((sektor_yoy["2023"] / sektor_yoy["2023"].sum()) * 100, 2),
    kontribusi_2022=round((sektor_yoy["2022"] / sektor_yoy["2022"].sum()) * 100, 2),
)
sektor_yoy["2023"] = round(sektor_yoy["2023"], 0)
sektor_yoy["2022"] = round(sektor_yoy["2022"], 0)
sektor_yoy["tumbuh"] = round(sektor_yoy["tumbuh"].fillna(0), 2)
sektor_yoy = sektor_yoy.sort_values(by="2023", ascending=False)

In [ ]:
sektor_yoy

In [ ]:
data23 = data[data['TAHUNBAYAR']=='2023']
data23.groupby('NM_KATEGORI')['NOMINAL'].sum().reset_index()

In [ ]:
data = pd.read_parquet(r"D:\DATA\lengkap.parquet")

In [ ]:
data.to_sql('ppmpkm', con=postgres_con, index=False, if_exists='replace')

In [ ]:
kpp = pd.read_sql('select distinct "KPP" from ppmpkm',postgres_con)

In [ ]:
kpp['KPP'].tolist()

In [ ]:
kueri = '''
select
m.NPWP ,m.NAMA_WP, m.KPPADM  ,m.JENIS_WP ,m.STATUS_WP, sd.TOTAL_SP2DK,
 rik.TOTAL_RIK,sh.JML_AFILIASI
from registrasi.mfwp m
left join
	(select NPWP, count(NO_SP2DK) as TOTAL_SP2DK
	from pengawasan.sp2dk
	where year(TGL_SP2DK) between 2020 and 2022
	group by NPWP)
	as sd
on m.NPWP =sd.NPWP
left join
	( select NPWP,count(NO_NP2) as TOTAL_RIK
		from pemeriksaan.sidjp_riwayat_pemeriksaan
		where year(TGL_NP2) between 2020 and 2022
		group by NPWP
	)as rik
on m.NPWP = rik.NPWP
left join
	( select  NPWP_TETAP_PEMEGANG_SAHAM ,count(DISTINCT NPWP) as JML_AFILIASI
	from spt.spt_badan_pemegang_saham
	where ID_MS_TH_PJK = 202100 and KPPADM in('097','007')
	group by NPWP_TETAP_PEMEGANG_SAHAM ) as sh
on m.NPWP =sh.NPWP_TETAP_PEMEGANG_SAHAM
where m.KPPADM in ('097','007') and m.JENIS_WP like 'OP%%'
'''

In [ ]:
tl = pd.read_sql(kueri, con=mpninfo_con)

In [ ]:
tp = tuple(tl['NPWP'].dropna().tolist())

In [ ]:
def tts(tup):
    return ','.join(tup)

npwp = tts(tp)

In [ ]:
netto = f'''
select
si.NPWP ,
sum(case when si.ID_MS_TH_PJK =201900 then si.JML_PH_NETO end )as "NETTO_2019" ,
sum(case when si.ID_MS_TH_PJK =202000 then si.JML_PH_NETO end )as "NETTO_2020" ,
sum(case when si.ID_MS_TH_PJK =202100 then si.JML_PH_NETO end )as "NETTO_2021"
from spt.spt_op_induk si
where si.ID_MS_TH_PJK >201800 and si.KPPADM in('007','097')
group by si.NPWP
'''
df_netto = pd.read_sql(netto, con=mpninfo_con)

In [ ]:
df_netto

In [ ]:
pph = f'''
select
p.NPWP ,
sum( case when p.TAHUNBAYAR =2020 then p.NOMINAL end) as "PPh_2020" ,
sum( case when p.TAHUNBAYAR =2021 then p.NOMINAL end) as "PPh_2021" ,
sum( case when p.TAHUNBAYAR =2022 then p.NOMINAL end) as "PPh_2022"
from mpninfo.ppm_pkm p
where p.TAHUNBAYAR >2019 and p.NPWP in({npwp})
group by p.NPWP
'''
df_pph = pd.read_sql(pph, con=mpninfo_con)

In [ ]:
df_pph

# GAbungan

In [ ]:
gabungan = tl.merge(df_netto, on='NPWP',how='left')

In [ ]:
gabungan = gabungan.merge(df_pph, on='NPWP', how='left')

In [ ]:
gabungan.fillna('',inplace=True)
gabungan.to_excel(r'D:\HASILKUERI\tl_op_madya_plus_fix.xlsx',index=False)

# GABUNG PEMEGANG SAHAM

In [ ]:
df = pd.read_excel('D:\PENGAWASAN\WP_OP_MADYA_AFILIASI_fix.xlsx',
                   dtype={'NPWP':'str','OP_PEMEGANG_SAHAM':'str'})

In [ ]:
df

In [ ]:
df_pv = df.pivot_table(index=['OP_PEMEGANG_SAHAM','NAMA_PEMEGANG_SAHAM','BADAN_NAMA_WP'],values='KPPADM').reset_index()

In [ ]:
op = df['OP_PEMEGANG_SAHAM'].unique()
df_op = pd.DataFrame(op,columns=['OP'])

In [ ]:
op

In [ ]:
def slicer(df,op):
    badan = []
    for wp in op:
        temp = df[df['OP_PEMEGANG_SAHAM']==wp]
        wp_badan = temp['NPWP'].tolist()
        badan.append([wp,wp_badan])

In [ ]:
kueri =f'''
select 
nf.NPWP,m.NAMA_WP,left(nf.ID_MS_TH_PJK,4)as "TAHUN_PAJAK"  ,nf.JML_PU ,sb.JML_TOTAL_PPH_BYR_SDR 
from spt_badan_penghitungan_neto_fiskal nf
left join spt_badan_induk sb using (ID_SPT)
left join registrasi.mfwp m on nf.NPWP = m.NPWP
where nf.NPWP in ({npwp})
'''

In [ ]:
data = pd.read_sql(kueri,con=spt)

In [ ]:
gabungan = wp.merge(data, on=['NPWP','TAHUN_PAJAK'],how='left')

In [ ]:
gabungan['CTTOR'] = gabungan['JML_TOTAL_PPH_BYR_SDR']/gabungan['JML_PU']

In [ ]:
gabungan

In [ ]:
gabungan.to_excel(r'\\10.20.254.241\Public\00 - DP3\01-Dapot\2022\#Kegiatan LHA 2022\CTTOR_40.xlsx',index=False)

In [ ]:
'''
    select 
    p."DATEBAYAR", sum(p."NOMINAL") 
    from ppmpkm p 
    where p."KDBAYAR" != '199' and p."KDBAYAR" not in('2%%','3%%','4%%','5%%','9%%') and
    p."TAHUNBAYAR" =2022  and p."KET" != 'SPMKP'
    and p."KDMAP" not in('411125','411126') and p."DATEBAYAR" >'2022-04-30'
    group by p."DATEBAYAR" 
'''

In [ ]:
data = pd.read_sql(kueri, con=postgres_con)

In [ ]:
data.columns

In [ ]:
import seaborn as sb
import plotly.express as px

px.line(data , x="DATEBAYAR", y="sum")

In [ ]:
data.rename(columns={'DATEBAYAR':'ds','sum':'y'},inplace=True)

In [ ]:
from prophet import Prophet
m = Prophet(seasonality_mode='multiplicative')
m.fit(data)

In [ ]:
future = m.make_future_dataframe(periods=365)

In [ ]:
future.tail()

In [ ]:
forecast = m.predict(future)

In [ ]:
forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']]

In [ ]:
fig11 = m.plot_components(forecast)

In [ ]:
from prophet.plot import plot_plotly, plot_components_plotly

plot_plotly(m, forecast)

In [ ]:
plot_components_plotly(m, forecast)

In [ ]:
kueri ='''
    select 
    p."DATEBAYAR" as ds, sum(p."NOMINAL") as realita
    from ppmpkm p 
    where p."KDBAYAR" ='100' and
    p."TAHUNBAYAR" =2023  and p."KET" != 'SPMKP'
    and p."KDMAP" ='411211' 
    group by p."DATEBAYAR" 
'''

In [ ]:
data23 = pd.read_sql(kueri, con=postgres_con)

In [ ]:
prediksi = forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']]

In [ ]:
gabung = prediksi.merge(data23,on='ds',how='left')

In [ ]:
gabung.to_excel(r'D:\KUERI\HasilQuery\prophet_forecast.xlsx')

In [ ]:
data_1 = data[['KPPADM_SETOR','REALISASI TAHUN INI', 'REALISASI TAHUN LALU']].set_index('KPPADM_SETOR')

In [ ]:
data_1 = data_1.pct_change(axis='columns',periods=-1)

In [ ]:
data_1.reset_index(inplace=True)

In [ ]:
data_1.rename(columns={'REALISASI TAHUN INI':'GROWTH'},inplace=True)
data_1 = data_1[['KPPADM_SETOR','GROWTH']]

In [ ]:
data_ok = data.merge(data_1,on='KPPADM_SETOR',how='left')

In [ ]:
data_ok.fillna(0,inplace=True)

In [ ]:
data_ok

In [ ]:
data = pd.read_sql('''select * from ppmpkm p where ("DATEBAYAR" between make_date(date_part('year',current_date)::int-1,1,1) and 
		make_date(date_part('year',current_date)::int-1,
		date_part('month',current_date)::int,
		date_part('day',current_date)::int))''',con=postgres_con)

In [ ]:
asli = pd.read_sql(''' 
                   select 
*
from penerimaan2022_2023 p 
where p.datebayar <= '2022-02-04' and p.datebayar >= '2022-01-01'
                   ''',con=postgres_con)

In [ ]:
data.head()

In [ ]:
data['KPP'].value_counts()

In [ ]:
data[data['KPP']==''].to_excel(r'D:\KUERI\eror.xlsx')

In [ ]:
asli['admin'].value_counts()

In [ ]:
asli.to_excel(r'D:\KUERI\ok.xlsx')

In [ ]:
pulgad = pd.read_sql(''' select 
sw.NPWP15 as "NPWP" , sw.NAMA_WP ,sw.KPPADM,sw.SEKSI ,sw.NIP_AR,sw.NAMA_AR ,sw.SEGMENTASI_WP 
from sidjp_wp sw 
where sw.KPPADM ='003'
''', con=staging)

In [ ]:
mfwp = data.append(pulgad)

In [ ]:
dsa = pd.read_excel(r'D:\KUERI\ToQueri\dsa.xlsx',
                    dtype={'NPWP':'str','KPP ADM':'str','ID_KEY':'str','Tahun Pajak':'str'})

In [ ]:
slicer = tuple(dsa['NPWP'].tolist())

In [ ]:
atp = pd.read_sql(f'select  a.NPWP ,a.LEVEL_ATP from atp_110 a where NPWP in {slicer}',con=staging)
crm = pd.read_sql(f'select c.NPWP,c.CRM_RIKWAS_KPP,c.CRM_RIKWAS_KANWIL,c.CRM_RIKWAS_NASIONAL from crm_2021 c where NPWP in {slicer}',con=staging)

In [ ]:
data = dsa.merge(atp,on='NPWP',how='left')
data = data.merge(crm,on='NPWP',how='left')

In [ ]:
data.head()

In [ ]:
data.to_excel(r'D:\KUERI\HasilQuery\dsa_crm_atp.xlsx',index=False)

In [ ]:
top = data.nlargest(n=10,columns='SELISIH')

In [ ]:
bottom = data.nsmallest(n=10,columns='SELISIH')

In [ ]:
Sektor_TopBottom = pd.concat([top,bottom],axis=0)

In [ ]:
renpen23 = pd.read_excel(r'D:\RENPEN\Renpen_110_2023_20230120.xlsx',dtype={'TAHUN':'str','MAP':'str','KODE_KPP':'str'})
renpen22 = pd.read_excel(r'D:\RENPEN\Renpen_110_2022_20221012.xlsx',dtype={'TAHUN':'str','MAP':'str','KODE_KPP':'str'})

In [ ]:
hwi = pd.read_excel(r'D:\KUERI\ToQueri\hwi.xlsx',dtype={'NPWP':'str'})

In [ ]:
mf = pd.read_sql('select m.NPWP ,m.KPPADM  from spt.spt_op_hit_ph_neto_dn_pencatatan m', con=mpninfo_con)

In [ ]:
data = hwi.merge(mf,on='NPWP',how='left')

In [ ]:
data['KPPADM'] = data['KPPADM'].map(dim_kpp)

In [ ]:
data.to_excel(r'D:\KUERI\HasilQuery\hwi.xlsx',index=False)

In [ ]:
kd = {
    '1':'001',
    '2':'002',
    '3':'003',
    '4':'004',
    '5':'005',
    '7':'007',
    '8':'008',
    '9':'009',
    '97':'097'
}

In [ ]:
renpen23['KODE_KPP'] = renpen23['KODE_KPP'].map(kd)
renpen22['KODE_KPP'] = renpen22['KODE_KPP'].map(kd)

In [ ]:
dim_map = pd.read_sql('select * from dimensi.map_polos',con=postgres_con)
dim_kpp = pd.read_sql('select * from public.dim_kpp',con=postgres_con)

In [ ]:
renpen23['TAHUN'] = 2023
renpen22['TAHUN'] = 2022

In [ ]:
renpen = renpen22.append(renpen23)

In [ ]:
renpen = renpen.merge(dim_map,left_on='MAP',right_on='KDMAP',how='left')
renpen = renpen.merge(dim_kpp,left_on='KODE_KPP',right_on='KPPADM',how='left')

In [ ]:
renpen.columns

In [ ]:
renpen = renpen[['MAP_y','KPP','TAHUN', 'JUMLAH_TARGET']].groupby(['MAP_y','KPP','TAHUN'],as_index=False).sum()

In [ ]:
renpen.rename(columns={'MAP_y':'MAP'},inplace=True)

In [ ]:
renpen

In [ ]:
renpen.to_sql('renpen2022_2023',index=False,con=postgres_con,schema='public',if_exists='replace')

In [ ]:
dim_kpp= {
'001'	:'PRATAMA JAKARTA MATRAMAN',
'002'	:'PRATAMA JAKARTA JATINEGARA',
'003'	:'PRATAMA JAKARTA PULOGADUNG',
'004'	:'PRATAMA JAKARTA CAKUNG',
'005'	:'PRATAMA JAKARTA KRAMATJATI',
'007'	:'MADYA JAKARTA TIMUR',
'008'	:'PRATAMA JAKARTA DUREN SAWIT',
'009'	:'PRATAMA JAKARTA PASAR REBO',
'097'	:'MADYA DUA JAKARTA TIMUR'
}

In [ ]:
dim_kpp_df = pd.DataFrame.from_dict(data=dim_kpp,orient='index')

In [ ]:
dim_kpp_df.reset_index(inplace=True)

In [ ]:
dim_kpp_df.columns = ['KPPADM','KPP']

In [ ]:
dim_kpp_df.to_sql('dim_kpp',con=postgres_con, index=False)

In [ ]:
brunet22 = '''
select pp.NPWP ,
sum(case when pp.KET !='SPMKP' then pp.NOMINAL end) as bruto,
sum(case when pp.KET !='sd' then pp.NOMINAL end) as neto
from ppm_pkm pp where pp.TAHUNBAYAR =2022
group by pp.NPWP 
'''
brunet21 = '''
select pp.NPWP ,
sum(case when pp.KET !='SPMKP' then pp.NOMINAL end) as bruto,
sum(case when pp.KET !='sd' then pp.NOMINAL end) as neto
from ppm_pkm pp where pp.TAHUNBAYAR =2021
group by pp.NPWP 
'''

In [ ]:
cekspt = ''' 
SELECT 
m.NAMA_WP ,nf.*
FROM spt_badan_penghitungan_neto_fiskal nf
left join registrasi.mfwp m using(NPWP)
where nf.NPWP in (
'015960529011000','015584469076000','019363761007000','022155311004002','026546358003000','018322503011000','030936389006000','024334609013000','026990432006000','027091982004000','020533519004000','315756767003000','024791121015000','024334625013000','016676983006000','315959262003000','022919666002000','033019274003000','032660979731000','021825302006000','028673184005000','027560234728000')
and nf.ID_MS_TH_PJK =202100
'''
saham = ''' 
select 
ps.NPWP ,m.NAMA_WP,ps.ID_MS_TH_PJK ,ps.NPWP_PEMEGANG_SAHAM ,ps.NAMA_PEMEGANG_SAHAM ,ps.PERSENTASE_MODAL_DISETOR
from spt_badan_pemegang_saham ps
left join registrasi.mfwp m using(NPWP)
where ps.NPWP in( 
'015960529011000','015584469076000','019363761007000','022155311004002','026546358003000','018322503011000','030936389006000','024334609013000','026990432006000','027091982004000','020533519004000','315756767003000','024791121015000','024334625013000','016676983006000','315959262003000','022919666002000','033019274003000','032660979731000','021825302006000','028673184005000','027560234728000'
) 
'''

In [ ]:
ppmpkm22 = pd.read_sql(brunet22,con=mpninfo_con)
ppmpkm21 = pd.read_sql(brunet21,con=mpninfo_con)

In [ ]:
spt = pd.read_sql(cekspt,con=spt)

In [ ]:
sahamcek = pd.read_sql(saham,con=spt)

In [ ]:
sahamcek.to_excel(r'D:\KUERI\HasilQuery\ceksaham.xlsx',index=False)

In [ ]:
sahamcek

In [ ]:
spt.to_excel(r'D:\KUERI\HasilQuery\cekspt.xlsx',index=False)

In [ ]:
wp = pd.read_sql('select m.NPWP, m.KD_SEKTOR  from registrasi.mfwp m',con=registrasi)

In [ ]:
sektor = pd.read_sql('select distinct dk.KD_KATEGORI , dk.NM_KATEGORI  from dimensi.dim_klu dk',con=dimensi)

In [ ]:
data22 = pd.merge(ppmpkm22, wp, on='NPWP',how='left')
data21 = pd.merge(ppmpkm21, wp, on='NPWP',how='left')

In [ ]:
data21['neto'].sum()

In [ ]:
data22 = data22.groupby('KD_SEKTOR',as_index=False).sum()
data21 = data21.groupby('KD_SEKTOR',as_index=False).sum()

In [ ]:
sektor22_ok = pd.merge(data22, sektor, left_on='KD_SEKTOR', right_on='KD_KATEGORI',how='left')
sektor21_ok = pd.merge(data21, sektor, left_on='KD_SEKTOR', right_on='KD_KATEGORI',how='left')

In [ ]:
sektor22_ok['neto'].sum()

In [ ]:
sektor22_ok.drop('KD_KATEGORI',inplace=True,axis=1)
sektor21_ok.drop('KD_KATEGORI',inplace=True,axis=1)

In [ ]:
sektor22_ok = sektor22_ok.groupby(['KD_SEKTOR','NM_KATEGORI'],as_index=False).sum()
sektor21_ok = sektor21_ok.groupby(['KD_SEKTOR','NM_KATEGORI'],as_index=False).sum()

In [ ]:
sektor22_ok['neto'].sum()

In [ ]:
sektor22_ok = sektor22_ok.sort_values(by=['neto','bruto'], ascending=False)
sektor21_ok = sektor21_ok.sort_values(by=['neto','bruto'], ascending=False)

In [ ]:
sektor21_ok.rename(columns={'bruto':'bruto2021', 'neto':'netto2021'},inplace=True)
sektor21_ok.drop(labels='NM_KATEGORI',axis=1,inplace=True)

In [ ]:
penerimaan_persektor = sektor22_ok.merge(sektor21_ok,on='KD_SEKTOR', how='left')

In [ ]:
penerimaan_persektor

In [ ]:
penerimaan_persektor.to_excel(r'G:\KUERI\PerSektor\persektorYoY.xlsx',index=False)
# sektor22.to_excel(r'G:\KUERI\PerSektor\persektor_2022.xlsx',index=False)
# sektor21.to_excel(r'G:\KUERI\PerSektor\persektor_2021.xlsx',index=False)

In [ ]:
mfwp_kueri = '''
select m.KPPADM ,m.NPWP ,m.NAMA_WP,m.JENIS_WP, m.SEGMENTASI_WP 
from mfwp m
'''

In [ ]:
data = pl.read_sql(mfwp_kueri,registrasi_uri,partition_num=3)

In [ ]:
data.with_columns(
    [
       ( pl.col('JENIS_WP')+pl.col('SEGMENTASI_WP')).alias('concat')
    ]
)

In [ ]:
data.head()

In [ ]:
data_cari = pd.read_excel(r'\\10.20.254.241\Public\00 - DP3\02-Bimwas\2023\Komite Kepatuhan\REKAP_KPP_110_Upload.xlsx',sheet_name='gabungan',
                          dtype={'NPWP':'str'},usecols=['NPWP'])

In [ ]:
merge = pd.merge(data_cari,data, left_on=['NPWP'],right_on=['NPWP'],how='left')

In [ ]:
merge.to_excel(r'G:\KUERI\segmentasi_responkkpp.xlsx',index=False)

In [ ]:
kppp = pd.read_sql('''select 
distinct p.KPPADM ,p.KPPADM_SETOR 
from penerimaan p  ''',con=penerimaan)

In [ ]:
data = pd.read_excel(r'G:/DSP4/DPP_clenasing.xlsx',
                     dtype={
                         'KD_KWL':'str',
                         'KD_KPP':'str',
                         'NPWP':'str',
                         'KD_KLU':'str',
                         'LEVEL_ATP':'str',
                         'TAHUN_PAJAK':'str',
                         'VALIDASI_KPP':'str',
                         'VALIDASI_KANWIL':'str'                                            
                     },
                     sheet_name='Table1')

In [ ]:
dspp = pd.read_excel(r'G:/DSP4/DSP4_OK.xlsx',
                     dtype={
                         'KD_KWL':'str',
                         'KD_KPP':'str',
                         'NPWP':'str',
                         'TAHUN_AWAL':'str',
                         'TAHUN_AKHIR':'str',
                         'KLU':'str',
                         'VALIDASI_KPP':'str',
                         'VALIDASI_KWL':'str'                                            
                     })

In [ ]:
dspe = pd.read_excel(r'G:/DSP4/DSPE isi karakter.xlsx',
                     dtype={
                         'KD_KWL':'str',
                         'KD_KPP':'str',
                         'NO_IDENTITAS':'str',
                         'JENIS_WP':'str',
                         'TAHUN_AKHIR':'str',
                         'KLU':'str',
                         'VALIDASI_KPP':'str',
                         'VALIDASI_KWL':'str'                                            
                     })

In [ ]:
data = data[data['KD_KWL'].notnull()]

In [ ]:
data.fillna('',inplace=True)

In [ ]:
data.to_csv(r'G:\DSP4\DPP.csv',index=False, sep='|')

In [ ]:
data[data['NAMA_WP']=='BESARI WAHANA RAYA']

dspp.to_csv(r'G:\DSP4\DSPP_UPLOAD.csv',index=False, sep='|')

In [ ]:
dspp.fillna('',inplace=True)

In [ ]:
dspp['VALIDASI_KWL'].unique()

In [ ]:
selaras = dspp[dspp['NAMA_WP'].str.contains('SELARAS INDO')]

In [ ]:
dspp['ALASAN_KWL'] = '"'+dspp['ALASAN_KWL']+'"'

In [ ]:
dspp['ALASAN_KWL']